<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python Brasil 2020</title>
    <meta name="description" content="A Python Brasil é o maior evento Python da América Latina. Em 2020, por conta do COVID-19, a 18º edição do evento será online.">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="https://2020.pythonbrasil.org.br/" />
    <meta name="twitter:title" content="Python Brasil 2020 - Edição Online - 02/11/2020 a 08/11/2020" />
    <meta name="twitter:description" content="A Python Brasil é o maior evento Python da América Latina. Em 2020, por conta do COVID-19, a 18º edição do evento será online." />
    <meta property="twitter:image" content="/chamada-pybr2.png" />
    <meta property="og:url" content="https://2020.pythonbrasil.org.br/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Python Brasil 2020 - Edição Online - 02/11/2020 a 08/11/2020" />
    <meta property="og:site_name" content="Python Brasil 2020 - Edição Online - 02/11/2020 a 08/11/2020" />
    <meta property="og:description" content="A Python Brasil é o maior evento Python da América Latina. Em 2020, por conta do COVID-19, a 18º edição do evento será online." />
    <meta property="og:image" content="/chamada-pybr2.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    {{> main }}
    {{> about }}
    {{!-- {{> keynotes }} --}}
    {{!-- {{> tutorials }} --}}
    {{> sponsors }}
    {{> prefooter }}
    {{> footer }}

    <script src="/assets/scripts/index.js"></script>
</body>

</html>
