<div class="main" id="section-main">
    <div class="nav-mobile" id="mobile">
        <div class="hamburguer"></div>
    </div>

    <div class="nav">
        <nav class="header" id="header-nav">
            <ul>
                <li>
                    <a href="#section-about">evento</a>
                </li>
                <li>
                    <a href="https://2020.pythonbrasil.org.br/grade/" target="_blank">programação</a>
                </li>
                <li>
                    <a href="#section-sponsor">patrocínio</a>
                </li>
                {{!-- <li>
                    <a href="#section-keynote">keynotes</a>
                </li> --}}

                {{!-- <li>
                    <a href="#section-tutoriais">tutoriais</a>
                </li> --}}
                <li>
                    <a href="https://www.eventbrite.com.br/e/python-brasil-2020-tickets-117927633727"
                        target="_blank">ingressos</a>
                </li>
                <li>
                    <a href="https://discord.gg/xJexBV5dgp"
                        target="_blank">Discord</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main-button">
        <a href='https://www.eventbrite.com.br/e/python-brasil-2020-tickets-117927633727' target="_blank"
            class="button">
            adquira seu ingresso
        </a>
    </div>
</div>
